firesim/firesim-env/*
firesim/api/__pycache__/*
firesim/api/src/__pycache__/*
backend/backend-env/*
backend/src/__pycache__/*
backend/src/simulation/__pycache__/*
frontend/frontend-env/*
frontend/src/__pycache__/*
others/*
