{% extends "layout.html" %} {% block content %}
<section class="files">
  {% if alert %} {% include 'alert.html' %} {% endif %}
  <h1>Simulaciones</h1>
  <a href="{{ url_for('upload_file') }}" class="btn btn--primary">Subir archivo</a>
  <br /><br />
  <table>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
    {% for file in files %}
    <tr>
      <td>{{ file.name }}</td>
      <td>
        <a
          href="{{ url_for('view_file', file_id=file.id) }}"
          class="btn btn--primary"
          >Ver</a
        >
        <a
          href="{{ url_for('simulate_file', file_id=file.id) }}"
          class="btn btn--success"
          >Simular</a
        >
      </td>
    </tr>
    {% endfor %}
  </table>
</section>
{% endblock %}
