{% extends "layout.html" %} {% block content %}
<section id="hero" class="hero">
  <h2 class="hero__title">Bienvenido a MultifireSim</h2>
  <p class="hero__description">
    Plataforma para la ejecución de Simuladores de comportamiento de incendio forestales
  </p>
</section>
<!--
<section id="features" class="features">
  <h2 class="features__title">Características Principales</h2>
  <div class="feature">
    <h3 class="feature__title">Simulaciones Realistas</h3>
    <p class="feature__description">
      Utilizamos tecnología de punta para ofrecer simulaciones precisas y
      realistas de incendios.
    </p>
  </div>
  <div class="feature">
    <h3 class="feature__title">Análisis Detallado</h3>
    <p class="feature__description">
      Obtén análisis detallado de la propagación del fuego y sus posibles
      efectos.
    </p>
  </div>
  <div class="feature">
    <h3 class="feature__title">Herramientas Avanzadas</h3>
    <p class="feature__description">
      Contamos con herramientas avanzadas para la planificación y la gestión de
      la seguridad contra incendios.
    </p>
  </div>
</section>
-->
{% endblock %}
