<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MultifireSim</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <header class="header">
        <div class="header__container">
          <img
            id="logo"
            src="{{ url_for('static', filename='img/logo.jpeg') }}"
            alt="Logo de MultifireSim"
            class="header__logo"
          />
          <h1 class="header__title">MultiFireSim</h1>
        </div>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="{{url_for('index')}}" class="header__nav-link">Inicio</a>
            </li>
            <li class="header__nav-item">
              <a href="{{url_for('files')}}" class="header__nav-link"
                >Simulaciones</a
              >
            </li>
          </ul>
        </nav>
    </header>
    <div class="container">
      {% if alert %} {% include 'alert.html' %} {% endif %} {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
