{% extends "layout.html" %} {% block content %}
<section class="upload-file">
  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Subir Archivo</h2>

  <form action="/files/upload" method="post" class="form" enctype="multipart/form-data">

    <div class="col-span-full">
      <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Nombre del archivo</label>
      <div class="mt-2">
        <input type="text" name="name" id="name" autocomplete="name"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <div class="col-span-full">
      <label for="file" class="block text-sm font-medium leading-6 text-gray-900">Archivo</label>
      <div class="mt-2">
        <input type="file" id="file" name="file" class="form__input" /><br />
      </div>
    </div>
    <div class="mt-4">
      <input type="submit" value="Subir" class="btn btn--primary" />
    </div>
  </form>
</section>
{% endblock %}