{% extends "layout.html" %} {% block content %}
<section id="hero" class="hero">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 gap-8">
      <div class="flex flex-col gap-4 align-items-center">
        <img src="{{ url_for('view_map', filename=filename) }}" alt="Input Map" width="600" height="400"
          class="object-cover" style="object-fit: cover; align-self: center !important;" />
      </div>
    </div>
    <hr>
    {% for result in results %} {% if result %}
    <div class="flex flex-col h-full w-full">
      <div class="flex flex-row gap-8 p-6">
        <div class="flex-1 bg-muted rounded-lg overflow-hidden">
          <h3 class="text-lg font-medium">Mapa inicial</h3>
          <img src="{{ url_for('view_map', filename=filename) }}" alt="Input Map" width="600" height="400"
            class="object-cover w-full h-full" style="object-fit: cover;" />
        </div>
        <div class="flex-1 bg-muted rounded-lg overflow-hidden">
          <h3 class="text-lg font-medium">Mapa Final</h3>
          <img src="{{ url_for('view_map', filename=result.results) }}" alt="Output Map" width="600" height="400"
            class="object-cover w-full h-full" style="object-fit: cover;" />
        </div>
      </div>
      <div class="flex-1 bg-muted rounded-t-2xl p-8">
        <div class="grid grid-cols-2 gap-8 max-w-4xl mx-auto">
          <div class="grid gap-2">
            <div class="text-lg font-medium">Velocidad del viento (km/h)</div>
            <div class="text-muted-foreground">{{result.windSpd}}</div>
          </div>
          <div class="grid gap-2">
            <div class="text-lg font-medium">Dirección del viento</div>
            <div class="text-muted-foreground">{{result.windDir}}</div>
          </div>
          <div class="grid gap-2">
            <div class="text-lg font-medium">Tiempo inicial</div>
            <div class="text-muted-foreground">{{result.start_time}}</div>
          </div>
          <div class="grid gap-2">
            <div class="text-lg font-medium">Tiempo final</div>
            <div class="text-muted-foreground">{{result.end_time}}</div>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}

</section>
{% endblock %}